.Home{
  .section-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #0DCAF0;
    height: 100px;
    padding: 20px;
    margin-bottom: 28px;
    cursor: pointer;
    .title{
      font-weight: bold;
    }
    .icon-box{
      width: 60px;
      height: 60px;
      background-color: #0DCAF0;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      .icon{
        color: white;
      }
    }
  }
}
