.Layout{
    display: flex;

    .sidebar{
        position: fixed;
        top: 0;
        left: 0;
        width: 23%;
        background-color: #f3f3f3;
        padding: 50px 40px;
        height: 100vh;

        background: rgba(255, 255, 255, 0.3);
        box-shadow: 0px 0px 10px #0DCAF0;
        .name-box{
            display: flex;
            align-items: center;

            img{
                width: 40px;
                height: 40px;
                border-radius: 50%;
            }

            .name{
                margin-left: 20px;
                font-size: 20px;
                font-weight: bold;
            }
        }
        .menu-box{
            padding: 0;
            margin-top: 50px;
            .menu-item{
                list-style-type: none;
                margin-bottom: 20px;
                a{
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                    color: black;
                    .title{
                        margin-left: 10px;
                        display: flex;
                        align-items: center;
                        margin-top: 2px;
                    }
                }

                .active-link{
                    color: #0DCAF0;
                }
            }
        }
    }

    .content{
        margin-left: 23%;
        width: 77%;
        padding: 50px 40px;
        min-height: 100vh;
    }
}