* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

.disabled-button {
    cursor: not-allowed !important;
    color: #c8c9c9;
}

@font-face {
    font-family: "Youtube";
    src: url("../src/font/Youtube/youtube-sans-light.ttf") format('truetype');
}

body {
    font-family: 'Youtube', sans-serif !important;
}

body::-webkit-scrollbar {
    width: 8px;
}

/* Track */
body::-webkit-scrollbar-track {
    background: white;
}

/* Handle */
body::-webkit-scrollbar-thumb {
    background: #0DCAF0;
    border-radius: 1px;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
    background: #0ed3fb;
}




